.image {
    border-radius: 50%;
    display: block;
    padding: 50px;
}

.comment {
    border: 1px solid black;
    padding: 10px;
}

.personName {
    margin: 5px;
    color: blue;
    font-weight: bold;
}