.header {
    background-color: coral !important;
    border: 2px solid #cec5c5;
    display: inline-block;
    width: 180px;
    height: 80px;
    padding: 5px !important;
}

.tableHead {
    padding: 0 !important;
}

.headerName {
    background-color: coral !important;
    border: 2px solid #cec5c5;
    display: inline-block;
    width: 220px;
    height: 80px;
}

.headerLabel {
    display: inline-block;
    word-break: break-all;
    width: 100px;
    overflow: hidden;
    height: 80px;
    padding: 0;
}

.moreOption {
    display: inline-block;
    width: 0px;
    margin: 0 !important;
    padding: 0;
}

.grade {
    border: 2px solid #cec5c5;
    display: inline-block;
    width: 180px;
    height: 120px;
    margin: 0;
}

.name {
    border: 2px solid #cec5c5;
    display: inline-block;
    width: 220px;
    height: 120px;
    margin: 0;
}

.gradeMaxText p {
    font-weight: bold;
    color: green;
}

.button {
    margin: 50px;
}

.container {
    display: flex;
    justify-content: center;
    margin: 20px;
}