.container {
    width: 50%;
    margin: auto;
}

.accountProfile {
    color: blue;
    display: block;
    text-align: center;
}

.image {
    border-radius: 50%;
    padding: 0 0 !important;
}

.imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.textField {
    width: 100%;
    margin-bottom: 30px;
}

.textFieldWrapper {
    margin: auto;
    width: 80%;
}

.buttonWrapper {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    margin: auto;
}

.button {
    margin-left: 30px;
}

.alert {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
}